<!--<header class="header-3">
  <div class="h3-header-bottom-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-8">
          <div class="h1-logo">
            <a href="/">
              <img src="/images/allt/Logo_Praktil.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-6 col-12 text-right praktil-menu">
          <div class="responsive-menu d-lg-none"></div>
          <div class="menu d-none d-lg-block menu-praktil">
            <nav class="navbar navbar-expand-lg">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarToggler">
                <ul id="menu">
                  <li><a href="/dashboard">Dashboard</a></li>
                  <li><a href="/companies">För Företag</a></li>
                  <li><a href="/announcements">Praktikplaster</a></li>
                  <li><a href="#">Om Praktil</a></li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="h1hba-get-quote menu-praktil">
            {{#if isUser}}
            <a class="Praktil-link-3" style="margin: 10px" href="/authentication/signout">Logga ut
              konto</a>
            {{else}}
            <a class="link hvr-bs Praktil-link" href="#Login" data-toggle="modal" data-target="#Login">Logga in</a>
            <a class="link hvr-bs Praktil-link-2" href="#konto" data-toggle="modal" data-target="#konto">Skapa
              konto</a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  navbar-default navbar-fixed-top
</header>-->

<header class="header-3">
    <div class="h3-header-bottom-area">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="/">
            <img src="/images/allt/Logo_Praktil.png" width="72" alt="Praktil">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
            <ul class="nav navbar-nav">
                {{#if isUser}}
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
              </li>
                {{else}}
              <li class="nav-item">
                <a class="nav-link" href="/companies">För Företag</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/announcements">Praktikplaster</a>
              </li>
                {{/if}}
            </ul>
              <div class="my-2 my-lg-0">
                  {{#if isUser}}
                      <a class="Praktil-link-2" href="/authentication/signout">Logga ut
                          konto</a>
                  {{else}}
                      <a class="Praktil-link" href="#Login" data-toggle="modal" data-target="#Login">Logga in</a>
                      <a class="Praktil-link-2" href="#konto" data-toggle="modal" data-target="#konto">Skapa
                          konto</a>
                  {{/if}}
              </div>
          </div>
        </nav>
      </div>
    </div>
</header>