<header class="header-3">
    <div class="h3-header-bottom-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-4 col-8">
            <div class="h1-logo">
              <a href="/">
                <img src="/images/allt/Logo_Praktil.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-lg-10 col-md-9 col-sm-6 col-12 text-right praktil-menu">
            <div class="responsive-menu d-lg-none"></div>
            <div class="menu d-none d-lg-block menu-praktil">
              <nav>
                <ul id="menu">
                  <li><a href="/dashboard">Dashboard</a></li>
                  <li><a href="/companies">För Företag</a></li>
                  <li><a href="/announcements">Praktikplaster</a></li>
                  <li><a href="#">Om Praktil</a></li>
                </ul>
              </nav>
            </div>
            <div class="h1hba-get-quote menu-praktil">
              <a class="link hvr-bs Praktil-link" href="#Login" data-toggle="modal" data-target="#Login">Logga in</a>
              <a class="link hvr-bs Praktil-link-2" href="#konto" data-toggle="modal" data-target="#konto">Skapa
                konto</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>