<header class="header-3">
    <div class="h3-header-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4 col-8">
                    <div class="h1-logo">
                        <a href="index.html">
                            <img src="/images/allt/Logo_Praktil.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-6 col-12 text-right praktil-menu">
                    <div class="h1hba-get-quote menu-praktil">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">{{ name }} <i class="fas fa-user"></i></a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
        <div class="container-fluid nav-sub">
            <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="menu d-none d-lg-block menu-praktil">
                            <nav>
                                <ul id="menu">
                                    <li><a href="/dashboard"><i class="far fa-save"></i> Sparade
                                            praktikplatser</a></li>
                                    <li><a href="/dashboard/settings"><i class="fas fa-cog"></i> Redigera
                                            Uppgifter</a></li>

                                </ul>
                                <div class="h1hba-get-quote menu-praktil sub-links">
                                    <a class="link hvr-bs Praktil-link" href="/authentication/signout"><i
                                            class="fas fa-sign-out-alt"></i>
                                        Logga ut</a>
                                </div>
                            </nav>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</header>