<div class="modal fade" id="send" tabindex="-1" role="dialog" aria-labelledby="modalinside" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h1>Du kommer nu söka med din profile</h1>
                <h5 class="modal-title" id="modalinside">Du söker tjänsten</h5>
                <h7 class="modal-title" id="modalinside">{{ job.name }}</h7>
                <p>{{ job.description }}</p>
                <form action="/send/application" method="POST">
                    <input type="hidden" id="id" name="id" value="{{ job._id }}">
                    <button type="submit" class="Praktil-link-3" style="margin: 10px 0; width: 100%">Ansök nu</button>
                </form>
            </div>
        </div>
    </div>
</div>