<div class="data-table">
    <h2>Populäraste Annonserna</h2>
    <table id="mostAds">
        <thead>
        <tr>
            <th>#</th>
            <th>Annons</th>
            <th>Företag</th>
            <th>Klick</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Lorem</td>
            <td>Lorem ipsum</td>
            <td>2300</td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">

</script>