<!-- Login Page -->
<div class="modal-dialog login popup-overlay">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Logga In</h4>
        </div>
        <div class="modal-body">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-12 text-center">
                            <form action="/admin/signin" method="POST">
                                <div class="row">
                                    <div class="col-12 cf-input-box">
                                        <input type="text" placeholder="E-post" id="email" name="email" required />
                                    </div>
                                    <div class="col-12 cf-input-box">
                                        <input type="password" placeholder="Losenord" id="password" name="password"
                                            required />
                                    </div>
                                    <div class="col-12 cf-input-box">
                                        <button id="submit" class="link Praktil-link-3 hvr-bs animated"
                                            name="submit">Logga In</button>
                                        <p><a href='#'>Glomt Losenord ?</a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Login Page -->
<div class="modal-dialog login popup-overlay">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Skapa konto </h4>
        </div>
        <div class="modal-body">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-12 text-center">
                            <form action="/admin/signup" method="POST">
                                <div class="row">
                                    <div class="col-12 cf-input-box">
                                        <input type="text" placeholder="name" id="name" name="name" required />
                                    </div>
                                    <div class="col-12 cf-input-box">
                                        <input type="text" placeholder="E-post" id="email" name="email" required />
                                    </div>
                                    <div class="col-12 cf-input-box">
                                        <input type="text" placeholder="Losenord" id="password" name="password"
                                            required />
                                    </div>
                                    <div class="col-12 cf-input-box">
                                        <button id="submit" class="link Praktil-link-3 hvr-bs animated"
                                            name="submit">Logga In</button>
                                        <p><a href='#'>Glomt Losenord ?</a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>