<div class="dashboard-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12">
                {{> active_ads}}
            </div>

            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="right sub">
                    <article>
                        <header>
                            <h2>Annonser</h2>
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#alla">Alla annonser</a></li>
                                <li><a data-toggle="tab" href="#akapaannons">Skapa annons</a></li>

                            </ul>
                        </header>

                        <div class="tab-content">
                            <div id="alla" class="tab-pane fade in active">
                                <div class="right-content alla-annons">
                                    <table class="table table-striped table-dark">
                                        <thead>
                                            <tr>
                                                <th scope="col" width="60%">Annonser</th>
                                                <th scope="col">Statistik</th>
                                                <th scope="col">Argarder</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#forEach jobs }}
                                            <tr>
                                                <td scope="row">{{ name }} .</td>
                                                <td><span class="icon-set"><span><i class="fas fa-eye"></i>
                                                            120</span><span><i class="far fa-save"></i>
                                                            2</span><span><i class="fas fa-share-alt"></i> 3</span>
                                                        <span><i class="fas fa-inbox"></i> 0</span></span></td>
                                                <td><span class="set-links">
                                                        <a href="#modalinside" data-toggle="modal"
                                                            data-target="#modalinside"><i
                                                                class="fas fa-pencil-alt"></i></a>
                                                        <a href="#"><i class="fas fa-trash-alt"></i></a>
                                                        <label class="switch">
                                                            <input type="checkbox" checked="checked">
                                                            <span class="slider round"></span>
                                                        </label></span></td>
                                            </tr>
                                            {{/forEach }}
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                            <div id="aktuella" class="tab-pane fade">
                                <div class="container installningar">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <h2>Uppgifter</h2>

                                            <form>
                                                <ul>
                                                    <li><label>Epost</label>
                                                        <input type="text" name="" placeholder=" joel@microaalabs.se">
                                                    </li>
                                                    <li><label>Nytt Lösenord</label>
                                                        <input type="text" name="" placeholder=""></li>
                                                    <li><label>bekräfta Nytt Lösenord</label>
                                                        <input type="text" name=""></li>
                                                </ul>
                                                <a href="#" class="btn">Ändra Lösendord</a>
                                            </form>


                                        </div>
                                        <div class="col-sm-12 col-md-6">

                                            <h2>Notiser </h2>

                                            <form>
                                                <ul>
                                                    <li><label>jag vill prenumerera på Praktils Nyhetsbrev</label>
                                                        <input type="radio"> Ja tack!</li>
                                                </ul>
                                                <a href="#" class="btn">Spara Notisinställningar</a>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row social">
                                        <div class="col-sm-12 col-md-6">
                                            <h2>Sociala Medier</h2>
                                            <form>
                                                <ul>
                                                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-snapchat"></i></a></li>
                                                </ul>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="akapaannons" class="tab-pane fade">
                                <div class="right-content akapaannons">

                                    <form action="/dashboard/announcements/create" method="POST" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="titel">Titel*</label>
                                            <input type="text" class="form-control" name="name"  id="name" placeholder="Titel">
                                        </div>
                                        <div class="form-group">
                                            <label for="beskrivning">Söker*</label>
                                            <textarea placeholder="Beskrivning" name="looking_for" id="looking_for" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="beskrivning">Krav*</label>
                                            <textarea placeholder="Beskrivning" name="requirement" id="requirement" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="beskrivning">Ansökan*</label>
                                            <textarea placeholder="Beskrivning" name="application" id="application" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="beskrivning">Beskrivning*</label>
                                            <textarea placeholder="Beskrivning" name="description" id="description" rows="10"></textarea>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <label for="plats">Plats*</label>
                                                <input type="text" class="form-control" name="location" id="location" placeholder="plats">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-md-5">
                                                <label for="datum">Mellan vilka datum gäller praktiken?*</label>
                                                <div class='date ' id='datetimepicker-datum'>
                                                    <div class="sd-container">
                                                        <input type='date' name="will_start_at" id="will_start_at" class="sd" />
                                                        <span class="open-button">
                                                            <button type="button"><i
                                                                    class="fas fa-calendar-alt"></i></button>
                                                        </span>
                                                    </div>
                                                    <div class="sd-container">

                                                        <input type='date' name="will_end_at" id="will_end_at" class="sd" />
                                                        <span class="open-button">
                                                            <button type="button"><i
                                                                    class="fas fa-calendar-alt"></i></button>
                                                        </span>
                                                    </div>



                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ansokningsdatum ">Sista ansökningsdatum </label>
                                                <div class='date' id='ansokningsdatum-datum'>
                                                    <div class="sd-container">

                                                        <input type='date' name="deadline" id="deadline" class="sd" />
                                                        <span class="open-button">
                                                            <button type="button"><i
                                                                    class="fas fa-calendar-alt"></i></button>
                                                        </span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <label for="ansokningsdatum " class="empty"> </label>
                                                <div class='input-group date' id='ansokningsdatum-radio'>
                                                    <input type='radio' name="territories" id="territories" class="form-control" /> Omräden
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Omraden">Omräden*</label>
                                            <a class="btn Omraden" href="#Omraden" data-toggle="modal"
                                                data-target="#Omraden">Omraden</a>
                                        </div>
                                        <div class="form-group">
                                            <label for="antal">Antal Plaser</label>
                                            <input type="text" class="form-control" name="availability" id="availability" placeholder="antal">
                                        </div>
                                        <div class="form-group">
                                            <label for="annonsbild">Annonsbild</label>
                                            <input type="file" class="custom-file-input form-control" name="jobImage" id="jobImage"
                                                placeholder="Example input">
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-8 kontakt">
                                                <label for="kontakt">Kontakt Info*</label>
                                                <input type="email" name="contact_info" id="contact_info" placeholder="Epost">
                                            </div>
                                        </div>

                                        <div class="buttons">
                                           <a class="btn" href="#publiceraannons" data-toggle="modal"
                                                data-target="#publiceraannons">Publicera Annons</a>


                                </div>
                            </div>
                        </div>

                    </article>

                </div>

            </div>
        </div>
    </div>
</div>




<!-- Modal inside page -->

<div class="modal fade" id="modalinside" tabindex="-1" role="dialog" aria-labelledby="modalinside" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <h5 class="modal-title" id="modalinside"><i class="fas fa-check-circle"></i></h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa. </p>

                <a href="#" class="link Praktil-link-4">Kassabitråde praktik</a>

            </div>
            <div class="buttons">
                <a class="Praktil-link-form1" href="#">Kopiera</a>
                <a class="Praktil-link-form1" href="#">Öppna</a>
            </div>
        </div>
    </div>
</div>



<!-- Modal Omraden -->
<div class="modal fade" id="Omraden" tabindex="-1" role="dialog" aria-labelledby="Omraden" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="Omraden">Välj omräde som annonsen innefattar. </h5>
            </div>
            <div class="modal-body">

                <ul class="omraden">
                    <li><input type="radio"> Kommunikation
                        <div class="sub-box">
                            <div class="container">

                                <ul class="list-unstyled row">
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                </ul>


                            </div>

                        </div>
                    </li>
                    <li><input type="radio"> Kommunikation
                        <div class="sub-box">
                            <div class="container">

                                <ul class="list-unstyled row">
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                </ul>


                            </div>

                        </div>
                    </li>
                    <li><input type="radio"> Kommunikation
                        <div class="sub-box">
                            <div class="container">

                                <ul class="list-unstyled row">
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                </ul>


                            </div>

                        </div>
                    </li>
                    <li><input type="radio"> Kommunikation
                        <div class="sub-box">
                            <div class="container">

                                <ul class="list-unstyled row">
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                </ul>


                            </div>

                        </div>
                    </li>
                    <li><input type="radio"> Kommunikation
                        <div class="sub-box">
                            <div class="container">

                                <ul class="list-unstyled row">
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                </ul>


                            </div>

                        </div>
                    </li>
                    <li><input type="radio"> Kommunikation
                        <div class="sub-box">
                            <div class="container">

                                <ul class="list-unstyled row">
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                </ul>


                            </div>

                        </div>
                    </li>
                    <li><input type="radio"> Kommunikation
                        <div class="sub-box">
                            <div class="container">

                                <ul class="list-unstyled row">
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                    <li class="list-item col-sm-6">
                                        <input type="radio"> Kommunikation
                                    </li>
                                </ul>


                            </div>

                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <a class="btn" href="#">Spara Områden</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal publiceraannons -->
<div class="modal fade" id="publiceraannons" tabindex="-1" role="dialog" aria-labelledby="publiceraannons"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <h5 class="modal-title" id="publiceraannons">Vill du pudlicera praktikplatsen? </h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                    quis enim.</p>

                <a href="#" class="link Praktil-link-4">Kassabitråde praktik</a>

            </div>
            <div class="buttons">
                <button class="btn" id="submit" name="submit" data-toggle="modal" data-target="#publicera">Publicera</button>
                <!-- <a class="btn" href="#publicera" data-toggle="modal" data-target="#publicera">Publicera</a> -->
                <a class="Praktil-link-form1" href="#">Avbryt</a>
            </div>
        </div>
    </div>
</div>
</form>
<!-- Modal Publicera  -->
<div class="modal fade" id="publicera" tabindex="-1" role="dialog" aria-labelledby="publicera" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <h5 class="modal-title" id="publicera"><i class="fas fa-check-circle"></i></h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa. </p>

                <a href="#" class="link Praktil-link-4">Kassabitråde praktik</a>

            </div>
            <div class="buttons">
                <a class="Praktil-link-form1" href="#">Kopiera</a>
                <a class="Praktil-link-form1" href="#">Öppna</a>
            </div>
        </div>
    </div>
</div>