<div class="dashboard-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="left">
                    <article>
                        <header>
                            <h1>Aktiva Annonser</h1>
                        </header>
                        <div class="data-jobb on-off">
                            <ul>
                                <li>
                                    <div>
                                        <span><strong>Junior Webb-utvecklare Praktikant</strong></span>
                                        <span class="icon-set"><span><i class="fas fa-eye"></i> 120</span><span><i
                                                    class="far fa-save"></i> 2</span><span><i
                                                    class="fas fa-share-alt"></i> 3</span> <span><i
                                                    class="far fa-inbox"></i> 0</span></span></div>
                                    <div><label class="switch">
                                            <input type="checkbox">
                                            <span class="slider round"></span>
                                        </label></div>
                                </li>
                                <li>
                                    <div><span><strong>Junior Webb-utvecklare Praktikant</strong></span>
                                        <span class="icon-set"><span><i class="fas fa-eye"></i> 120</span><span><i
                                                    class="far fa-save"></i> 2</span><span><i
                                                    class="fas fa-share-alt"></i> 3</span> <span><i
                                                    class="far fa-inbox"></i> 0</span></span></div>
                                    <div><label class="switch">
                                            <input type="checkbox" checked="checked">
                                            <span class="slider round"></span>
                                        </label></div>
                                </li>
                            </ul>

                        </div>

                        <footer>
                            <a class="btn" href="#">Se alla Praktikplaser</a>
                        </footer>
                    </article>
                </div>
            </div>

            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="right sub">
                    <article>
                        <header>
                            <h2>Konto Inställningar</h2>
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#Redigera">Redigera Uppgifter</a></li>
                                <li><a data-toggle="tab" href="#menu1">Inställningar</a></li>
                            </ul>
                        </header>

                        <div class="tab-content">
                            <div id="Redigera" class="tab-pane fade in active">
                                <div class="right-content">
                                    <div class="bio-info">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="bio-image">
                                                            <img src="../images/allt/usericon.png" alt="image">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="bio-content">
                                                    <h2>MicroAA Labs</h2>
                                                    <h6><span>Org nr: <strong>0000000000000</strong></span><span>Stad:
                                                            <strong>Stockholm</strong></span></h6>
                                                    <p><strong>Utbildning</strong>
                                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                                        commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                                                        penatibus et magnis dis parturient montes, nascetur ridiculus
                                                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                                        quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                                                        fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                                                        rhoncus ut, imperdiet a, venenatis vitae, justo.

                                                        <a href="#">redigera <i class="fas fa-pencil-alt"></i></a>

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="sub-box">
                                        <div class="container">
                                            <ul class="list-unstyled row">
                                                <li class="list-item col-sm-6">
                                                    <div><strong>Företagsnamn</strong>
                                                        <p class="klar"><span>MicroAA Labs</span> <a href="#">Klar</a>
                                                        </p>
                                                    </div>

                                                </li>
                                                <li class="list-item col-sm-6">
                                                    <div><strong>Org nummer </strong>
                                                        <p><span>0000000000000 </span> <a href="#">redigera <i
                                                                    class="fas fa-pencil-alt"></i></a></p>
                                                    </div>
                                                </li>
                                                <li class="list-item col-sm-6">
                                                    <div><strong>Plats/Adress </strong>
                                                        <p><span>000000000000</span> <a href="#">redigera <i
                                                                    class="fas fa-pencil-alt"></i></a></p>
                                                    </div>
                                                </li>
                                                <li class="list-item col-sm-6">
                                                    <div><strong>Kontakt info</strong>
                                                        <p><span>joel@microaalabs.se </span> <a href="#">redigera <i
                                                                    class="fas fa-pencil-alt"></i></a></p>
                                                        <p><span>021000 00 00</span> <a href="#">redigera <i
                                                                    class="fas fa-pencil-alt"></i></a></p>
                                                    </div>
                                                </li>
                                                <li class="list-item col-sm-6">
                                                    <div><strong>Hemsida</strong>
                                                        <p><span>000000000000</span> <a href="#">redigera <i
                                                                    class="fas fa-pencil-alt"></i></a></p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="clear"></div>
                                </div>




                                <div class="right-content-btn">
                                    <a class="btn" href="#">Spara inställningar</a>
                                </div>

                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <div class="container installningar">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <h2>Uppgifter</h2>

                                            <form>
                                                <ul>
                                                    <li><label>Epost</label>
                                                        <input type="text" name="" placeholder=" joel@microaalabs.se">
                                                    </li>
                                                    <li><label>Nytt Lösenord</label>
                                                        <input type="text" name="" placeholder=""></li>
                                                    <li><label>bekräfta Nytt Lösenord</label>
                                                        <input type="text" name=""></li>
                                                </ul>
                                                <a href="#" class="btn">Ändra Lösendord</a>
                                            </form>


                                        </div>
                                        <div class="col-sm-12 col-md-6">

                                            <h2>Notiser </h2>

                                            <form>
                                                <ul>
                                                    <li><label>jag vill prenumerera på Praktils Nyhetsbrev</label>
                                                        <input type="radio"> Ja tack!</li>
                                                </ul>
                                                <a href="#" class="btn">Spara Notisinställningar</a>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row social">
                                        <div class="col-sm-12 col-md-6">
                                            <h2>Sociala Medier</h2>
                                            <form>
                                                <ul>
                                                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-snapchat"></i></a></li>
                                                </ul>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </article>

                </div>

            </div>
        </div>
    </div>
</div>