<div class="dashboard-main">
  <div class="container">
    <div class="row justify-content-center row-eq-height">
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="left">
          <article>
            <header>
              <h1>Aktiva Annonser</h1>
            </header>
            <p><strong>Du har inga aktiva annonser</strong>
              Klicka på knappen tängst rier för att skapa en jobbannons.</p>

            <footer>
              <a class="btn" href="#">Skapa annons</a>
            </footer>
          </article>
        </div>
      </div>

      <div class="col-lg-9 col-md-8 col-sm-12">
        <div class="right">


          <article>
            <header>
              <h2>Välkommen MicroAA Labs AB</h2>
            </header>

            <div class="information">
              <h3>INFORMATION</h3>
              <p>
                Annonser har en fast summa på 150kr/st och faktureras i slutet av avarje månad.
                Set till att du har fyllt hela din profil annars kan du inte spapa en annons.

                När du godkännde villkoren för att skapa ditt konto så godkånnde du även att Praktill har rätten att
                fakturera dig utifrån hur många annonser du publicerat. </p>
            </div>
            <footer>

              <div class="equalHWrap eqWrap">
                <div class="equalHW eq">
                  <div class="content">
                    <p><i class="fas fa-bullhorn"></i></p>
                    <h2 class="title">Skapa Annons</h2>
                    <p class="text">Skapa annonsar i vårt enkia verktyg. <br />
                      Annonser har en fast kostnado på 150 kr/st och faktureras automatiskt en gång i månden. </p>
                  </div>
                </div>
                <div class="equalHW eq">

                  <div class="content">
                    <p><i class="fas fa-users"></i></p>
                    <h2 class="title">Redigera Företagsinfo
                    </h2>
                    <p class="text">Som företag kräver vi att hela din profil år iiyld innan du kan börja anvånda vår
                      tjånst. </p>
                  </div>
                </div>
                <div class="equalHW eq">
                  <div class="content">
                    <p><i class="fas fa-comment"></i></p>
                    <h2 class="title">Förbättringsåtgärder</h2>
                    <p class="text">Vi tror att kommer äkka Praktils plattform.
                      Men om det år något du anser vi dorde förbettra så skriv gåma till oss och beråtta. </p>
                  </div>
                </div>
              </div>

            </footer>
          </article>

        </div>
      </div>
    </div>
  </div>
</div>